# Access to the MariaDB database
DB_USERNAME=USERNAME
DB_PASSWORD=PASSWORD

# Used by the API: PROD = production DBs; unset or any other value = DEV DBs (WWCServices_DEV)
ENV=PROD

# Used by the WWCS Shiny application
SERVICE_PASSWORD=PASSWORD

# Used by the Telegram bot
BOT_TOKEN=9999999999:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
BOT_LANGUAGE=en
#TIMEZONE=Asia/Tashkent     # local timezone by default
