"yaml",
"shiny",
"shinydashboard",
"tidyverse",
"httr",
"jsonlite",
"tidyjson",
"lubridate",
"tidync",
"leaflet",
"plotly",
"shiny.i18n",
"shinymanager",
"shinyWidgets",
"shinybrowser",
"shinyjs",
"shinyBS",
"shinyLP",
"shinythemes",
"shinycssloaders",
"DT",
"reticulate",
"RMySQL",
"RCurl",
"DBI",
"RMariaDB",
"pool",
"fst",
"ncdf4",
"SpecsVerification",
"crch",
"sf",
"raster",
"deeplr",
"RColorBrewer",
"zoo",
"foreach",
"doParallel",
"highcharter",
"countrycode",
"dotenv",
"xlsx",
"exactextractr"


