mysql-connector-python
netCDF4
numpy
pandas
python-dotenv
pyyaml
requests
xarray

# gEMOS
elevation
rioxarray  # xarray GeoTIFF backend for gEMOS topo tiles (prepare_topo_descriptors.py)
topo-descriptors

# Harvest
beautifulsoup4

# ECMWF
cdo
ecmwf-api-client
ecmwf-opendata

# OpenMeteo
openmeteo-requests
openmeteo-sdk
requests-cache
retry-requests
