/* Global Font adjustments */
* { font-family: Helvetica; color: #404040; }

/* Header background */
.skin-blue .main-header {
  background-color: #ffffff;
}

/* Header background */
.navbar-custom-menu {
  margin-right: 30px;
}

/* Logo */
.skin-blue .main-header .logo {
  background-color: #ffffff;
  margin-top: 10px;
  height: 60px;
  margin-right: -50px;
}

/* Logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #ffffff;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #ffffff;
  height: 70px;
}

/*Toggle button when hovered  */                    
.skin-blue .main-header .navbar .sidebar-toggle{
 color: red;
 background-color: #ffffff;
 margin-top: 10px;
}

/* Toggle button when hovered  */                    
.skin-blue .main-header .navbar .sidebar-toggle:hover {
 color: red;
 background-color: #ebebeb;
 margin-top: 10px;
}

/* Main sidebar */
.skin-blue .main-sidebar {
   margin-top: 30px;
   margin-right: 30px;
   background-color: #ebebeb;
}


.skin-blue .sidebar-menu>li.active>a {
   background-color:  #e6f2ff;
}

.skin-blue .sidebar-menu>li.hover>a {
   background-color:  #e6f2ff;
}

/* Box properties */
.box.box-solid.box-primary>.box-header {
  color:#ffffff;
  background:#ffffff;
  border-radius: 5px 5px 0px 0px;
}

.box.box-solid.box-primary{
  border-radius: 5px 5px 5px 5px;
  border-color: #ffffff;
}

/* Boxes header text */
.box-header h3.box-title {
   font-size: 18px;
   text-transform: uppercase;
}

/* Tab-box adjustments */
.nav-tabs-custom {
  overflow: hidden;
}

/* Tab-box adjustments */
.shiny-input-container {
  margin: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: -20px;
}
.nav-tabs-custom > .nav-tabs > li.header {
   font-size: 18px;
   text-transform: uppercase;
}

/* Value adjustments */
.small-box p{
  color: white;
}  
.small-box h3{
  color: white;
}  

.small-box h3 {
    font-size: 26px;
}

.small-box.bg-teal {
   background-color: #404040 !important;
}  

/* Body Background */
.content-wrapper, .right-side {background-color: #ebebeb;}

/*Fontsize Leaflet Menue */
.leaflet {
  font-size: 14px;
  border-color: #ffffff;
}

/*Fontsize Markers */
i.glyphicon.icon-white {
  font-size: 14px;
}

.awesome-marker i {
	font-size: 14px !important;
}

.awesome-marker i:hover {
	font-size: 14px !important;
}

.mandatory_star { 
  color: red; 
}
